/* $Id$ */
@media screen {
  #blocks td.region {
    font-weight: bold;
  }
  #blocks tr.region-message {
    font-weight: normal;
    color: #999;
  }
  #blocks tr.region-populated {
    display: none;
  }
  .block-region {
    background-color: #ff9;
  }
}