/* $Id$ */

@media screen {
  html.js input.form-autocomplete {
    background-position: 0% 2px;
  }
  html.js input.throbbing {
    background-position: 0% -18px;
  }
  div.teaser-button-wrapper {
    float: left;
  }
  .teaser-checkbox div.form-item {
    float: left;
  }
  .progress .percentage {
    float: left;
  }
  .progess-disabled {
    float: right;
  }
  .ahah-progress {
    float: right;
  }
  .ahah-progress .throbber {
    float: right;
  }
  .draggable a.tabledrag-handle {
    float: right;
  }
  div.tree-child, div.tree-child-last {
    background-position: -65px center;
  }
}