/* $Id */

@media screen {
  .update .project {
    font-weight: bold;
  }

  .update .version-status {
    float: right; /* LTR */
  }

  .update .version-date {
    white-space: nowrap;
  }

  .update tr.error {
    background: #fcc;
  }

  .update tr.error .version-recommended {
    background: #fdd;
  }

  .update tr.ok {
    background: #dfd;
  }

  .update tr.warning {
    background: #ffd;
  }

  .update tr.warning .version-recommended {
    background: #ffe;
  }

  .current-version, .new-version {
    direction: ltr; /* Note: version numbers should always be LTR. */
  }

  .update tr.unknown {
    background: #ddd;
  }

  .update table.version tbody {
    border: none;
  }

  .update table.version tr,
  .update table.version td {
    border: none;
  }

  .update table.version-security .version-title {
    color: #970F00;
  }

  .update table.version-recommended-strong .version-title {
    font-weight: bold;
  }

  .update .security-error {
    font-weight: bold;
    color: #970F00;
  }
}