/* $Id$ */

@media screen {
  #permissions td.module {
    font-weight: bold;
  }
  #access-rules .access-type, #access-rules .rule-type {
    float: left; /* LTR */
  }
  #access-rules .mask {
    clear: both;
  }
  #user-admin-filter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  #user-admin-buttons {
    float: left; /* LTR */
    clear: right; /* LTR */
  }
}